/* How to use media queries in your sass files
@import 'relative/path/to/the/shared.scss';

.container {
  color: red;

  @include mobile {
    color: blue;
  }

  @include desktop {
    color: green;
  }

  @include wide {
    color: black;
  }

  @include retina {
    color: purple;
  }

  @include custom(1000) {
    color: yellow;
  }
}
*/

$print: "only print";
$screen: "only screen";
$mobile: "#{$screen} and (max-width: 767px)";
$tablet: "#{$screen} and (min-width: 768px)";
$desktop: "#{$screen} and (min-width: 1025px)";
$wide: "#{$screen} and (min-width: 1440px)";
$ultra: "#{$screen} and (min-width: 1600px)";
$retina: "#{$screen} and (-webkit-min-device-pixel-ratio: 1.5), #{$screen} and (min--moz-device-pixel-ratio: 1.5), #{$screen} and (min-resolution: 240dpi)";

@mixin print {
  @media #{$print} {
    @content;
  }
}

@mixin mobile {
  @media #{$mobile} {
    @content;
  }
}

@mixin tablet {
  @media #{$tablet} {
    @content;
  }
}

@mixin desktop {
  @media #{$desktop} {
    @content;
  }
}

@mixin wide {
  @media #{$wide} {
    @content;
  }
}

@mixin ultra {
  @media #{$ultra} {
    @content;
  }
}

@mixin retina {
  @media #{$retina} {
    @content;
  }
}

@mixin custom($customScreen) {
  @media (min-width: $customScreen+"px") {
    @content;
  }
}

/* colors */

$color-primary-principal: #a17586;
$color-primary-tuscany: #bf959f;
$color-primary-silver-pink: #bea5a8;
$color-primary-light: #dbd7cc;
$color-primary-background: #d4dccd;

/* Fonts */
$primary-font: "Montserrat";
$secondary-font: "Open Sans";
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    @content;
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    @content;
  }
  &:-ms-input-placeholder {
    /* IE 10+ */
    @content;
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    @content;
  }
}

// typography

$h1: normal normal bold 3.5rem/4.25rem $primary-font;
$h2: normal normal bold 2.625rem/3.1875rem $primary-font;
$h3: normal normal 600 2.375rem/2.875rem $primary-font;
$h3-bold: normal normal bold 2.375rem/2.875rem $primary-font;
$h4: normal normal 600 2rem/2.4375rem $primary-font;
$h4-bold: normal normal bold 2rem/2.4375rem $primary-font;
$h5: normal normal 600 1.75rem/2.125rem $primary-font;
$h5-bold: normal normal bold 1.75rem/2.125rem $primary-font;
$h6: normal normal 600 1.25rem/1.5rem $primary-font;
$h6-bold: normal normal bold 1.25rem/1.5rem $primary-font;
$subtitle1: normal normal 600 1rem/1.375rem $primary-font;
$body1: normal normal normal 1rem/1.375rem $secondary-font;
$button1: normal normal bold 0.875rem/1.0625rem $primary-font;
$link1: normal normal 600 0.875rem/1.1875rem $secondary-font;
$label-card: normal normal 600 0.875rem/0.9375rem $primary-font;
$font-button: normal normal bold 0.875rem/1.063rem $primary-font;
$card-text: normal normal normal 0.75rem/1rem $secondary-font;
